*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    background-color: #f0f0f0;
    min-height: 100vh;
    min-width: 100vw;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
    color: #f0f0f0;
    text-shadow: 2px 2px 2px #fffcfc, 5px 5px 10px #000;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 4rem;
}

.game-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 4rem;
}

.player {
    display: flex;
    align-items: center;
}

.player-label {
    font-size: 1.5em;
    font-family: inherit;
    position: absolute;
    left: 23%;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #fff;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.player-label:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.hands {
    display: flex;
    gap: 20px;
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
}

.selected {
    outline: 2px solid red;
}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #f0f0f0;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

.controls>button:hover,
.instructions:hover {
    background-color: #000;
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
}



@media screen and (max-width: 1024px) {
    .player-label {
        left: 10%;
    }
}


@media (max-width: 768px) {
    .player-label {
        left: 10%;
        font-size: 1rem;
    }

    .controls>button {
        width: 35vw;
    }

    .controls>button:active,
    .instructions:active {
        transform: scale(1.1);
    }
}


@media (max-width: 426px) {
    .container {
        gap: 2rem;
    }

    h1 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .player-label {
        width: 5rem;
        font-size: 0.5em;
        text-align: center;
    }

    .hands>img {
        height: 50px;
        width: 50px;
    }

    .controls>button {
        width: 40vw;
        font-size: 1rem;
    }

    .controls>button:active,
    .instructions:active {
        transform: scale(1.1);
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .player-label {
        width: 5rem;
        font-size: 0.2em;
    }

    .hands>img {
        height: 40px;
        width: 40px;
    }

    .controls {
        font-size: 0.6em;
    }
}